<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
        <add key="DefaultPushSource" value="https://nuget.org/api/v2/" />
    </config>
  <packageSources>
    <!--  <add key="NAME" value="FEEDURL" /> -->
    <add key="NuGet official package source" value="https://nuget.org/api/v2/" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>